<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Geisternetz melden</title>
</head>
<body>

<h1>Geisternetz melden</h1>

<form th:action="@{/nets/report}" method="post">
    <label>Latitude:
        <input type="number" step="0.000001" name="latitude" required>
    </label>
    <br>

    <label>Longitude:
        <input type="number" step="0.000001" name="longitude" required>
    </label>
    <br>

    <label>Geschätzte Größe:
        <input type="text" name="sizeEstimate" required>
    </label>
    <br>

    <h3>Optional: Kontaktdaten (für Rückfragen)</h3>

    <label>Name:
        <input type="text" name="name">
    </label>
    <br>

    <label>Telefonnummer:
        <input type="text" name="phoneNumber">
    </label>
    <br><br>

    <button type="submit">Melden</button>
</form>

<br>
<a th:href="@{/nets}">Zurück zur Übersicht</a>

</body>
</html>